@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --swiper-theme-color: #ffffff !important;
  --swiper-navigation-size: 16px !important;
}

@layer components {
  .carousel-side {
    @apply content-[''] w-[1000%] top-0 bottom-0 block absolute bg-white bg-opacity-60 z-10;
  }

  .carousel-button {
    @apply w-[44px] h-[44px] !flex items-center justify-center p-[10px] rounded-full;
    background: rgba(51, 51, 51, 0.5);
  }
}